body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*nab bar */
.navbar-brand{
  letter-spacing: 10px;
}

/*  Card */
.card{
  transition: all 0.1s ease;
}
.card:hover{
  transform: scale();
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}

.img1{
  border-radius: 10px;
}

.main-footer{
  background-image: url("/public/assets/images/products/footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white; 
}
.imgfooter{
  opacity: 0.5;
}
.imgfooter img{
  border-radius: 10px;
}

.affichecart{
  display: flex;
  justify-content: space-around;
}
